.contact__item {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.contact__item:not(:last-child) {
    margin-bottom: 10px;
}

.contact__text {
    margin-right: 20px;
}

.delete__btn {
    margin-right: auto;
    background-color: transparent;
    color: #000;
    border: 1px solid grey;
    border-radius: 5%;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition-property: background, color;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-duration: 350ms;
    cursor: pointer;
}

.delete__btn:hover {
    color: #fff;
    background-color: rgb(21, 75, 223)
}

.delete__btn:active {
    background-color: rgb(108, 143, 238)
}
